@page "/adduser"
@inject HttpClient client
@using Data
@using Newtonsoft.Json;

Usuario <input type="text" @bind="InputUsuario">
Senha <input type="text" @bind="InputSenha">
<button @onclick="CadastrarUsuario" >Cadastrar</button>

@mensagem

@code{
    private string? mensagem;
     private string? InputUsuario;
    private string? InputSenha;
    Login l =new Login();
    
    private async Task CadastrarUsuario(){
        var apiName = "http://barbertip.com.br/api/usuarios";
        l.Usuario =InputUsuario;
        l.Senha =InputSenha;
        //agora é o inverso: vamos serializar
        var postData = JsonConvert.SerializeObject(l);
        //vamos fazer o POST (inserir no endpoint da API e consequentemente no banco de dados)
        var response = await client.PostAsync(apiName, new StringContent(postData));
      
        mensagem = $"usuario {InputUsuario} cadastrado com sucesso com a senha {InputSenha}!";
    }
}

