@page "/listarusuarios"
@using Data
@using Newtonsoft.Json
@inject HttpClient client


<button type="button" @onclick="PegarUsuarios" class="btn btn-link" >Listar Usuários</button>


<div class="col-5">
  @if(mostrar){
    <table class="table">
      
        <thead>
            <tr>
                <th scope="col">Usuário</th>
                <th scope="col">Senha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Logins)
            {
                <tr>
                  <td>@item.Usuario</td>
                   <td>@item.Senha</td>
            
                  
                </tr>                
            }
           
        </tbody>
    </table>
  }
</div>

@code{    
    List<Login>? Logins=new List<Login>();
    private bool mostrar=false;
    private async void PegarUsuarios(){
        var apiName = "http://barbertip.com.br/api/usuarios";
        var httpResponse = await client.GetAsync(apiName);
        if(httpResponse.IsSuccessStatusCode){       
            var apiConteudo = await httpResponse.Content.ReadAsStringAsync();
            //Agora é a famosa Desserialização
            Logins = JsonConvert.DeserializeObject<List<Login>>(apiConteudo);
            mostrar=true;
            StateHasChanged();
        }

    }

}
