@inherits LayoutComponentBase
<PageTitle>DashBoard</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a href="autentica" id="link" target="_blank" style="text-decoration:none;color:black;">Entrar</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
